@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#header-con {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

.burger {
	height: 16px;
	background-color: #8fbc8f;
	display: block;
	margin-bottom: 10px;
}

/*header images*/


#hero-con {
	background-color: #aaaaaa;
	background: url("../img/main-mobile.jpg") no-repeat;
	height: 458px;
   margin-left: 510px;
}
